bak/
plugins/
scripting/compiled/
/.claude/settings.local.json
/.vscode
/scripting/Speedrunner Tools5.5.18/unlisted/compiled/plugins - 快捷方式.lnk
/scripting/Speedrunner Tools5.5.18/unlisted/compiled/sm_amovement_reader.smx
/CLAUDE.md
/view-source_https___developer.valvesoftware.com_wiki_Left_4_Dead_2_Scripting_Script_Functions#Scripted_Mode_hooks.html
